<!DOCTYPE html>
<<!DOCTYPE html>
<html>
<head>
	<title>Fosforbloggen</title>
	<meta name="viuwport" content="width=device-width, initial-scale=1" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/public/css/w3css.css">
	<style>
	html,body,h1,h2,h3,h4,h5 { font-family: "Raleway, sans-serif}
	</style>
</head>
<body class="w3-ligth-grey">
<div class="w3-content" style="max-width: 1400px">

<div class="w3-container w3-center w3-padding-hor-32"> 
  <h1><b>Fosforbloggen</b></h1>
  <p>Velkommen til EiT bloggen om fosfor <span class="w3-tag">Daniel, Kokosjon, Siri, Stine, Martin</span></p>
</div>

{{content}}

</body>
</html>